/* Bootstrap core CSS */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

/* Custom styles for this template */

body {
    padding-top: 70px;
    padding-bottom: 40px;
}
header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}
.navbar-brand{
	margin-top: 15px;
}
.woocommerce table.cart td.actions .input-text{
	width: 100px !important;
}
.footer{
	background-color: #e4dcdc21;

}

.footer h5{
	color: black;
	font-weight: bold;
}
.fa {
	padding: 10px;
	font-size: 30px;
	width: 35px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa-facebook {
	background: #3B5998;
	color: white;
	}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}
p.woocommerce-thankyou-order-received{
	background-color: green;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    /* padding-top: 5px; */
    padding: 5px;
}
.woocommerce-cart-form{
	margin-top: 20px
}

.woocommerce form .form-row .input-checkbox {
   	margin: 6px 8px 0 0 !important;
}
.ico_cancel_order_wrapper {
	background-color: #ff000054;
    padding: 5px;
}
.woocommerce-form__label-for-checkbox span{margin-left: 20px;}
.woocommerce-account-fields{background-color:#ff000054 }
.row .woocommerce{ margin-top: 20px }
/*menu interno apos logado */
nav#woocommerce-MyAccount-navigation {
    width: 100%;
    text-align: center;
    border: 1px solid red;
}
ul.centerUL {
	line-height: 1.4;
	padding-left: 0;
	margin: auto;
	width: 50%;
	padding: 50px 0 20px 50px;
}
.centerUL li {
	display: inline;
	text-align: center;
	background-color: #969c99;
	padding: 5px;
	color: black;
}
.centerUL a{color: white;}

/*menu front*/
div.menu-inicio-container{
    width: 100%;
    text-align: center;
}
ul#menu-inicio{
	line-height: 1.4;
	padding-left: 0;
	margin: auto;
	padding: 20px
}
#menu-inicio li {
	display: inline;
	text-align: center;
	background-color: #fff;
	padding: 5px;
	color: black;
}
@media (min-width: 768px){
	.navbar-right {

	    margin-right: -40px;
	}
}	